@import '../../../App.scss';
$react-rater-active: #fc6;
.book {
    margin: 20px auto;
    padding: 10px;
    font-family: $main-font;
  &__title, &__title a {
    font-weight: bold;
    font-size: 20px;
    color: rgb(33, 37, 41)
  }
  &__image {
    max-height: 150px;
  }
  &__smaller-text {
    font-size: 12px;
  }
  &__rating {
    .react-rater-star.is-active,
    .react-rater-star.will-be-active,
    .react-rater-star.is-active-half:before {
      color: #fc6;
    }
  }
  &__mark-to-read {
    &__text {
      font-size: 12px;
    }
  }
}